@model Vidly.ViewModels.CustomerFormViewModel
@{
    /**/

    ViewBag.Title = "NewCustomer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Customer</h2>
@using (Html.BeginForm("Save", "Customer"))
{
    @Html.ValidationSummary(true, "Please check below errors.")   
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.Name)
        @Html.TextBoxFor(m => m.Customer.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Customer.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.MembershipTypeId)
        @Html.DropDownListFor(m => m.Customer.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id", "NameofSubscription"), "--Select--", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Customer.MembershipTypeId)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.DateOfBirth)
        @Html.TextBoxFor(m => m.Customer.DateOfBirth, "{0:d MMM yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Customer.DateOfBirth)
    </div>

    <div class="form-group">
        <div class="checkbox">
            <label>
                @Html.CheckBoxFor(m => m.Customer.IsSubscribedToNewsLetter) Subscribed to NewsLetter?
                @Html.ValidationMessageFor(m => m.Customer.IsSubscribedToNewsLetter)
            </label>

        </div>
        @Html.HiddenFor(m => m.Customer.Id)
        @Html.AntiForgeryToken()
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
}
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval");
    }